
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 1);
  color: var(--DarkGrayishViolet);
  height: 80px;
}

.navbar-links {
  display: none;
  position: absolute;
  top: 80px;
  /* Adjust this if needed */
  left: 0;
  background-color: hsla(0, 0%, 100%, 1);
  width: 100%;
  z-index: 10;
}

/* Show navbar links when active */
.navbar-links.active {
  display: block;
  background: hsla(271, 9%, 17%, 1);
  color: white;
  height: 100vh;
  background-image: url(../images/bg-pattern-mobile-nav.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom;
}


.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navbar-links li {
  list-style: none;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  text-align: center;
}

.navbar-links li a {
  text-decoration: none;
  padding: 1rem;
  display: block;
  color: white;
}

.nav-item {
  padding: 0 1rem;
}

.nav__link--button {
  border: 2px white solid;
  text-align: center;
  cursor: pointer;
}